{% comment %} Section Boiler plate.  {% endcomment %}
<div class="basic">
	This is the minimum requirements for a section. 
</div>

{% schema %}
  {
  "name": "basic",
  "class": "basic",
  "settings": [],
  "presets": [
    {
      "name": "basic"
    }
  ]
}  
{% endschema %}